@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 620px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 450px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body{
  background-color: #D8D8F6;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container{

  margin: 0 auto;
  color: #283044;
}

.card{
  border-radius: 15px;
  padding: 5px;
  box-shadow: 2px 2px #6C969D;
  background-color: #D4D6B9;
  margin-top: 10px;
}

h1{
  color: #58355E;
  font-family: 'Mali', cursive;
}

h2{
  font-size: smaller;
}


a{
  text-decoration: none;
  color: #283044;
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover{
  color: #58355E;
  font-weight: bolder;
}

#image{
  width: 350px;
  border-radius: 50%
}

#image:hover{
  opacity: 0.8;
}

.fab{
  font-size: 18px;
}

.fab:hover{
  color: #58355E;
  font-weight: bolder;
}

table{
  width: 85%;
  border-spacing: 50px;
  background-color: #F7F7F7;
  margin: 0 auto;
  margin-bottom: 10px;
}

#table > h2{
  font-size: 1.5em;
}



.image_small {
  width: 150px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 75px;
}

