@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 620px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 450px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body{
  background-color: #D8D8F6;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.container{
  padding: 35px;
  color: #283044;
}

.card-big{
  border-radius: 15px;
  padding: 5px;
  box-shadow: 2px 2px #6C969D;
  background-color: #D4D6B9;
  margin-top: 10px;
}

h1{
  color: #58355E;
  font-family: 'Mali', cursive;
}

h2{
  font-size: smaller;
}


a{
  text-decoration: none;
  color: #283044;
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover{
  color: #58355E;
  font-weight: bolder;
}

#image{
  width: 350px;
  border-radius: 50%;

  position: relative;
  margin: 13px;
}

#image:hover{
  opacity: 0.8;
}

.bottom-card{
  margin-bottom: 35px;
}

.circle-header{
  width: 376px;
  height: 376px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
}

.fab{
  font-size: 18px;
}

.fab:hover{
  color: #58355E;
  font-weight: bolder;
}

.image_small {
  width: 150px;
}

ul.list-inline{
  margin-bottom: 0px !important;
}

.list-inline > li {
  display: inline-block;
  padding: 25px 75px;
}

.title-cardstop{
  margin-top: 25px;
  font-size: 24px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
